html,
body {
    height: 100%;
    font-family: 'Orbit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #99CCFF;
}

/* Header */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

/* Title and Day */
.title,
.header-day,
.header-search-bar {
    flex: 1;
}

.title span {
    font-size: 1.4rem;
    font-style: italic;
    margin-right: 10vw;
}

.header-day {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}


#today {
    font-weight: bold;
    font-size: 1.2rem;
}

/* search bar */
.header-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search-bar img {
    margin-right: 7px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.header-search-bar input {
    padding: 0.4rem 0.55rem;
}

.header-search-bar button {
    border: none;
    background: none;
}

.header-search-bar button img {
    width: 22px;
    height: 22px;
    display: block;
    margin: 0 auto;
}

/* weather */
.weather-container {
    width: 100vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}


.weather-container .location {
    font-size: 1.5rem;
    font-weight: bold;
}

.country {
    margin-left: -5px;
}

.ico-temp-wrap {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.ico-temp-wrap i {
    color: white;
    font-size: 3rem;
}

.temperature {
    font-size: 3.5rem;
    color: white;
}

.time {
    font-size: 1.4rem;
}

.desc {
    font-size: 1.2rem;
    color: white;
}

/* forecast */
.forecast-container {
    width: 100vw;
    height: 35%;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

fieldset {
    border: 1px solid #336699;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #336699;
    box-shadow: 3px 3px 3px grey;
    gap: 15px;
}

legend {
    color: beige;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}

.day-text.sun {
    color: rgb(248, 88, 88);
}

.day-text.sat {
    color: rgb(57, 57, 180);
}

fieldset i {
    color: white;
    font-size: 2.5rem;
}

fieldset span {
    color: white;
    font-size: 1.3rem;
}